<footer class="bd-footer py-1 mt-1">
    <div class="container py-1">
      <div class="row">

        <div class="col-lg-3">
          <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/" aria-label="Bootstrap">
            <img src="https://image.flaticon.com/icons/png/512/609/609107.png" width="30" height="30" alt="">
            <span class="fs-2"> Sochest</span>
          </a>
          <ul class="list-unstyled small text-muted">
            <li class="mb-2">Designed and built by <a href="https://www.github.com/Ankit0225/Social-Media-Simple-Web-App"> Ankit Maurya </a><i class="fas fa-heart"></i></li>
          </ul>
        </div>
        <div class="back-to-top">
         <a class="nav-link" href="#top">Back to top</a>
        </div>
        
       </div>

    </div>
  </footer>