<div class="container">
    <h1 class="display-5 fw-bold text-center m-2">Write Posts</h1>

    <!--Write Form Post Here  -->
    <form>
        <div class="form-group">
            <label class="fs-3" for="p-title">Post Title</label>
            <br>
            <input type="text" placeholder="Enter Title" class="form-control form-control-lg"
            id="p-title"
            rows="3"
            ></input>
        </div>
        <br>
        
        <div class="form-group">
            <label class="fs-4" for="p-body">Write Post</label>
            <br>
            <textarea  type="text" placeholder="Write your Thoughts Here" class="form-control form-control-sm"
            id="p-body"
            rows="4"
            ></textarea>
        </div>
    </form>
    <br>
    <br>
    <button class="btn btn-outline-success" id="Post-btn" type="submit">Submit Post</button>
</div>

<script src="../app/writing-post.js"></script>
